/*
+    App-specific LESS/CSS would go here, but to make your
+    application easier to maintain, you should try to
+    minimize the use of custom CSS.
+*/

.main-view {
}

html, body {
	background-color: black;
}
.moon-icon.small {
	background-position: center center;
	background-size: cover;
}


.directory-index-row .moon-marquee {
	vertical-align: text-top;
}
/*.directory-index-row div {
	position: relative;
	top: 0;
}
*/
.directory-index-row>div>div {
	padding: 0 1ex;
}
.directory-index-row div div+div {
	display: inline-block;
	font-family: "MuseoSans Light";
}
.directory-index-row .row-title {
	font-family: "MuseoSans Medium";
	// width: 45%;
}
.directory-index-row .row-size {	/*width: 10%;	margin: 0 0.5%;*/	text-align: right;}
.directory-index-row .row-date {	/*width: 35%;	margin: 0 0.5%;*/	text-align: right; }
