/*
+    App-specific LESS/CSS would go here, but to make your
+    application easier to maintain, you should try to
+    minimize the use of custom CSS.
+*/

// html, body {
// 	background-color: black;
// }
.moon-icon {
	opacity: 0.61;
}
.spotlight .moon-icon {
	opacity: 1;
}
.moon-icon.small {
	background-position: center center;
	background-size: cover;
}

.moon-icon.small.icon-refresh {
	font-size: 160%;
	line-height: 1.25em;
	text-align: right;
	&:after {
		content: "\27F3";
	}
}

.directory-index-row {
	font-family: "MuseoSans 500", "MuseoSans Medium";

	.moon-marquee {
		vertical-align: text-top;
	}
	.row-title,
	.row-size,
	.row-date {
		padding-left: 1ex;
		padding-right: 1ex;
	}
	.row-size,
	.row-date-mod {
		font-family: "MuseoSans 100", "MuseoSans Light";
		text-align: right;
		// font-weight: 100;
	}
}
