@import-once "../../lib/moonstone/css/moonstone-variables-dark.less";
@import-once "../../lib/moonstone/css/moonstone-variables.less";

.enyo-data-list .moon-item {
	border: @moon-button-border-width solid transparent;
}
.enyo-data-list .selected .moon-item {
	border: @moon-button-border-width solid @moon-spotlight-border-color;
}

.moon-video-transport-slider {
	height: 10px;
	background-color: rgba(0, 0, 0, 0.2);

	.moon-video-transport-slider-bg-bar {
		opacity: 0.4;
		border-radius: 5px;
	}
	.moon-video-transport-slider-bar-bar {
		opacity: 0.8;
		border-radius: 5px;
	}
	.moon-video-transport-slider-taparea {
		height: 80px;
	}
	.moon-video-transport-slider-knob {
		top: 5px;
	}
}

.picture-viewer {
	// background: #4B5259 linear-gradient(to bottom right, #4B5259 0%, #0C0F11 100%);
	background: #52001F linear-gradient(to top, #52001F 0%, #0C0F11 100%);
}
.media-info-player-poster {
	margin-top: 20px;
	img {
		width: 150px;
	}
}

.moon-icon.small.icon-refresh {
	font-size: 160%;
	line-height: 1.25em;
	text-align: right;
	&:after {
		content: "\27F3";
	}
}

.directory-index-row {
	font-family: "MuseoSans 500";

	.moon-icon, {
		height: 45px;
		margin-top: 0;
		margin-bottom: 0;
		&.small {
			height: 32px;
		}
	}
	.moon-icon {
		opacity: 0.61;
	}
	&.spotlight .moon-icon {
		opacity: 1;
	}
	.moon-icon,
	.moon-icon.small {
		background-position: center center;
		background-size: contain;
	}
	.moon-marquee {
		vertical-align: text-top;
	}
	.row-title,
	.row-size,
	.row-date-mod {
		padding-left: 1ex;
		padding-right: 1ex;
		box-sizing: border-box;
	}
	.row-size,
	.row-date-mod {
		font-family: "MuseoSans 100";
		text-align: right;
	}
}
